{{ define "header" }}
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <title>Verify HWSC Account</title>
        <style type="text/css">
            body {
                margin: 0 auto;
                padding: .3125em;
                font-size: 100%;
            }
            .small-print {
                font-size: .75em;
                color: #656565;
            }
            .button-container {
                padding: 1.25em 0 2.5em 0;
            }
            .button-wrapper {
                border-radius: .313em;
                border: 0;
                letter-spacing: .1em;
                cursor: pointer;
            }
            .button {
                text-decoration: none;
                height: 2.8125em;
                font-weight: bold;
                text-align: center;
                color: #FFF;
            }
            .button a {
                text-decoration: none;
                color: inherit;
                padding: .9375em 1.875em;
            }
            .line-break {
                margin-top: 3.125em;
                border-top: 1px solid #d7d7d7;
                padding-top: 1.25em;
            }
        </style>
    </head>
{{ end }}