<!DOCTYPE html>
<html lang="en">
{{ template "header" }}
<body>
    <table style="text-align: center;">
        <tr class="header">
            <td>
                <h1>
                    Welcome to HWSC!
                </h1>
            </td>
        </tr>
        <tr class="content">
            <td>
                <p>
                    We are very excited to have you on board.<br>
                    Please verify your account by clicking below:
                </p>
            </td>
        </tr>
        <tr>
            <td class="button-container">
                <table class="button-wrapper" style="margin: 0 auto; background-color: #14776f;">
                    <tr>
                        <td class="button">
                            <a href="http://www.google.com" target="_blank">
                                VERIFY ACCOUNT
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    If the link doesn't work, please copy and paste the following URL in your browser:<br/>
                    <a href="http://www.google.com" target="_blank">http://www.google.com</a>
                </p>
            </td>
        </tr>
        <tr>
            <td class="small-print">
                <p class="line-break">
                    *The link contained in this email will expire in 2 weeks.<br/>

                    Please do not reply to this message. Replies made to this message will not be read or replied.
                </p>
            </td>
        </tr>
        {{ template "footer" }}
    </table>
</body>
</html>
